#CORE
corvium-core @ git+https://github.com/thjkral/corvium-core.git@v0.1.1
python-dotenv
tinytag
pandas

#DATABASE
sqlalchemy
pymysql

#VALIDATION
ruptures

#DETECTION
librosa
tensorflow
resampy
birdnet
